/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: "Roboto", sans-serif;
}
*/
/* button {
  font-family: "Montserrat", sans-serif;
} */
body {
  background-color: #f0f0f0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*

 // THIS IS THE STYLES THAT IMPLIMENTED ON LOGIN COMPONENT
.container {
  background-color: #fff;
  width: 600px;
  height: 600px;
  display: grid;
  grid-template-columns: 100px 300px 100px;
  grid-template-rows: 200px 300px 100px;
  justify-content: center;
}

.container-item-1 {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 70px 130px;
  justify-content: center;
}

.Lbutton {
  margin-left: -90px;
  margin-top: 30px;
  width: 40px;
  font-weight: 600;
  border: none;
  box-shadow: -5px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: rgb(209, 238, 255);
  cursor: pointer;
}
.img {
  padding-left: 40px;
  width: 60%;
}

.container-item-2 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.labels {
  font-size: 12px;
  display: block;
  color: #646464;
  margin: 5px 2px;
}
.form-items {
  width: 100%;
  padding: 10px 5px;
  border-radius: 8px;
  border: 1px solid rgb(80, 80, 80);
}

.button {
  width: 80%;
  padding: 20px 20px;
  border-radius: 40px;
  margin-left: 30px;
  margin-top: 30px;
  background-color: #00c2ff;
  border: none;
  color: #ffff;
  font-size: 17px;
  font-weight: 900;
  cursor: pointer;
}

.container-item-3 {
  grid-column: 2/3;
  display: flex;
  align-content: flex-end;
  flex-wrap: wrap;
}
.container-item-3 p {
  font-size: 12px;
  margin-bottom: 10px;
} */
